/* Basic */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: medium;
}

a {
  font-style: italic;
  text-decoration: none;
  color: #e90;
}

h1,
h2 {
  color: #e90;
}

p {
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px;
}

.list {
  list-style: none;
}

/* Header */
.header {
  display: flex;
}

.avatar {
  width: 220px;

}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.nav {
  background: #444;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Main */

.main {
  display: flex;
  flex-flow: row wrap;
}

main>section {
  width: 45%;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
  background-color: #444;

}

.footer a {
  display: flex;
  /* align-self: center; */
  width: 20%;
}

.footer img {
  height: 50px;
}